<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <header>
        <h1 class="text-center bg-dark p-5 m-0 text-white"> Coming Soon!</h1>
    </header>
    <%- include("partials/nav.ejs") %>
    <footer class="m-5 text-center"> <%- include("partials/footer.ejs") %> </footer>
</body>
</html>